security.protocol=SASL_SSL
ssl.truststore.location=C:/kafka-config/kafka.truststore.jks
ssl.truststore.password=changeit
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
  username="alice" \
  password="secret";
